include bootstrap

doctype html
html
  head
    title= task
    link(rel='stylesheet' href="/bootstrap/css/bootstrap.min.css")
    script(src="/jquery/jquery.slim.js")
    script(src="/popperjs/umd/popper.js")
    script(src="/bootstrap/js/bootstrap.min.js")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
  body
    +navbar(task, {href: "/users", name: "Пользователи"}, {href: "/user/t1meshift", name: "Обо мне"})
    div.container
      block content
