extends layout

block content
    +breadcrumb({name: "Пользователи"})
    div.container-fluid
        h3 Пользователи
        if users.length === 0
            +alert("info")
                p
                    +icn-info
                    span Нет пользователей.
        else
            div.container
                div.row
                    each user in users
                        div.col-md-4.col-sm-6.col-lg-3
                            +card("/user/"+user.image, user.name, user.desc, "Показать", "/user/"+user.login)