extends layout

block content
    +breadcrumb({name: "Пользователи", href: "/users"}, {name: user.name})
    div.container-fluid
      h3 Пользователь #{user.login}:
      div.media(class="user" id=user.image)
        img(class="align-self-start mr-3" src="/user/"+user.image style="max-height:228px;")
        div.media-body
          h2.mt-0= user.name
          p!= user.desc