extends layout

block content
    h1= task

    if err === 1
        +breadcrumb
        h3 Ошибка БД.
        p= errDesc

    else
        +breadcrumb({name: "Пользователи"})
        div.container
            h3 Пользователи
            if users.length === 0
                +alert("info")
                    p
                        +icn-info
                        span Нет пользователей.
            else
                div.container
                    div.row
                        each user in users
                            div.col-md-4(class="col-sm-6")
                                +card("/user/"+user.image, user.name, user.desc, "Показать", "/user/"+user.login)